
@{
    Layout = null;
}
<link href="~/blogy-1.0.0/css/errorpage.css" rel="stylesheet" />
<br />
<br />
<p class="zoom-area"><b>OOOooopppsss!</b></p>
<h1><b>Sayfa Bulunamadı !!!</b></h1>
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>4</span>
</section>
<div class="link-container">
    <a target="_self" href="/Blog/BlogList" class="more-link">Anasayfaya Dön</a>
</div>