@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<li class="nav-item nav-profile">
    <a href="#" class="nav-link">
        <div class="nav-profile-image">
            <img src="@ViewBag.p" alt="profile" />
            <span class="login-status online"></span>
            <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text d-flex flex-column pr-3">
            <span class="font-weight-medium mb-2">@ViewBag.n</span>
            <span class="font-weight-normal">Blog Sayısı</span>
        </div>
        <span class="badge badge-danger text-white ml-3 rounded">@ViewBag.b</span>
    </a>
</li>